*{
  margin:0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*=============  Side bar CSS ================*/
.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;;
}

.app-body{
  display: flex;
  background-color: #ededed;
  margin-top:-50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.sidebar{
  display: flex;
  flex-direction: column;
  flex:0.35;
}

.sidebar-header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.header-rightside-icons{
 display: flex;
 justify-content: center;
 align-items: center;
 min-width: 10vh;
}

.sidebar_search_container{
  display: flex;
  align-items: center;
  background-color: rgb(230, 230, 230);
  height:50x;
  padding:10px;
  border:1px solid lightgray;
}
.sidebar_searchBox > .MuiSvgIcon-root{
  color:gray;
}

.sidebar_searchBox{
 display: flex;
 align-items: center;
 border-radius: 20px;
 width:100%;
 background-color: white;
 height: 20px;
 padding: 10px;
}

.sidebar_searchBox>input{
  border: none;
  outline-width: 0;
  margin-left: 10px;
  width: 100%;
  font-size: 15px;
}

/*=============  Chat CSS ================*/
.chat{
  display: flex;
  flex-direction: column;
  flex:0.35;
}
