*{
  margin:0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*=============  Side bar CSS ================*/
.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;;
}

.app-body{
  display: flex;
  background-color: #ededed;
  margin-top:-50px;
  height: 100vh;
  width: 100vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.sidebar{
  display: flex;
  flex-direction: column;
  flex:0.35;
}

.sidebar-header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.header-rightside-icons{
 display: flex;
 justify-content: center;
 align-items: center;
 min-width: 10vh;
}

.sidebar_search_container{
  display: flex;
  align-items: center;
  background-color: rgb(230, 230, 230);
  height:50x;
  padding:10px;
  border:1px solid lightgray;
}
.sidebar_searchBox > .MuiSvgIcon-root{
  color:gray;
}

.sidebar_searchBox{
 display: flex;
 align-items: center;
 border-radius: 20px;
 width:100%;
 background-color: white;
 height: 20px;
 padding: 10px;
}

.sidebar_searchBox>input{
  border: none;
  outline-width: 0;
  margin-left: 10px;
  width: 100%;
  font-size: 15px;
}

/*=============  Sidebar Chat CSS ================*/

.sidebarChat_container{
  display: flex;
  flex-direction:column;
  margin-top:20px;
  background-color: white;
  position: relative;
  overflow-y: scroll;
  height: 100%;
}

.sidebarChat_container>a{
  text-decoration: none;
  color: black;
}

.sidebarChat_list{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  align-items: center; 
  border-bottom: 0.5px solid  rgb(230, 230, 230);
  text-decoration: none;
}
.sidebarChat_list:hover{
  background-color: #dadbd3;
  cursor: pointer;
}

.sidebarChat_contact{
  padding-left: 20px;
  display: flex;
  flex-direction: column;  
  width: 100%;
}

/*=============  Chat CSS ================*/
.chat{
  display: flex;
  flex-direction: column;
  flex:0.65;
}
.chat-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px;
  border: 1px solid lightgray;
}
.chat-contact-details{
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center; 
}

.chat-contact-recent{
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
.chat-header-icons{
  position: relative;
  display: flex;
  padding-right: 20px;
}

.chat-body{
  display: flex;
  flex-direction: column;
  background:url(https://i.ibb.co/q9mygMq/background.jpg);
  height: 100%;
  padding: 30px;
  overflow-y: scroll;
  position: relative;
}

.text{
  width: fit-content;
  max-width: 60%;
  height: fit-content;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.text-received{
  margin-right: auto;
  background-color: #fff;
}
.text-sent{
  margin-left: auto;
  background-color:  rgb(166, 243, 166);
}
.text-time{
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
}

.chat-footer{
  display:flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center ;
}

.chat-footer > form {
  display: flex;
  flex: 1;
  padding: 0px 10px 0px 10px;
}

.chat-footer > form > input{
  border-radius: 20px;
  border:none;
  padding: 10px;
  outline-width: 0;
  width:100%;
  font-size: 15px;
}